<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Category</key>
	<string>public.app-category.productivity</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>我们需要发送通知来提醒您工作和休息时间的结束。</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>我们需要辅助功能权限来控制媒体播放，在微休息期间暂停/恢复音视频播放。</string>
</dict>
</plist>
